html,
input,
button {
  font-size: 20px;
  font-family: sans-serif;
}
body {
  padding: 20px;
  background-image: url(https://cdn.pixabay.com/photo/2015/04/20/18/54/koi-732007__340.png);
  background-color: lightblue;
  /* font: "open sans"; */
}
div {
  background-color: rgb(249, 249, 253);
  /* background-color: #f7f6eb; */
  padding: 20px;
  margin: 0 0 1rem;
  size: 30px;
  font-weight: 500;
  font-family: "sans-serif", verdana;
}

input,
textarea,
button {
  display: flexbox;
  font-family: "Sans-Serif", Arial;
  margin: auto;
  /* background-color: whitesmoke; */
  padding: 0.3rem;
  border: solid 2px black;
  border-radius: 0.2rem;
  margin-bottom: 10px;
}

textarea {
  display: block;
  width: 1000px;
  height: 250px;
}
label {
  text-align: center;
  display: block;
  padding: 0.3rem;
}

#longer input {
  width: 400px;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 1px;
  background-color: #ccc;
  border-radius: 10px;
  border: 1px solid white;
  transform: scale(1, 3);
}

/* After slide changes */
.toggle:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 11px;
  border-radius: 50%;
  background-color: white;
  top: 1px;
  left: 6px;
  transition: all 0.5s;
}

.checkbox:checked + .toggle::after {
  left: 35px;
}

.checkbox:checked + .toggle {
  background-color: #2196f3;
}

.checkbox {
  display: none;
}
